.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner-item {
    max-width: 50%;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}

td {
    text-align: center;
    font-weight: bold;
    padding: 2.5vmin;
}

h1 {
  font-size: 5.9vh;
}
h2 {
  font-size: 3.0vh;
}
p,li {
  font-size: 2.5vmin;
}
// 1vw = 1% of viewport width
// 1vh = 1% of viewport height
// 1vmin = 1vw or 1vh, whichever is smaller
// 1vmax = 1vw or 1vh, whichever is larger